body {
  background-color: #468097;
  position: relative;
}
.arrow.right {
  position: absolute;
  top: 20em;
  right: 3em;
  width: 5em;
  z-index: 9999;
}
.arrow.left {
  position: absolute;
  top: 20em;
  left: 3em;
  width: 5em;
  z-index: 9998;
}
.dragend-page > div {
  border: 1px dashed grey;
  background-color: #d0dae0;
  width: 70%;
  margin: auto;
  height: 100%;
  padding: 20px;
}
#photoFloris {
  width: 250px;
  margin: auto;
}
#identite {
  width: 300px;
  margin: auto;
}
#identite h1,
#identite h2 {
  text-align: center;
}
#listeExperienceAccueil {
  width: 300px;
  margin: auto;
}
