body {
  text-align: center;
  background-color: #036ea1;
  margin: 0;
  padding: 1px;
}
#photoFloris {
  width: 250px;
  margin: auto;
}
.container {
  margin: auto;
  background-color: #f0f4ff;
}
#illustration {
  width: 100%;
  height: 100%;
}
.noBulletList {
  left: 100em;
  list-style-type: none;
}
.experience-words {
  width: 80vh;
  height: 100%;
}
#web-link {
  visibility: hidden;
  display: none;
}
svg {
  display: none;
}
