body {
  text-align: center;
  background-color: #036ea1;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: #f0f4ff;
}
.noBulletList {
  left: 100em;
  list-style-type: none;
}
.experience-words {
  width: 80vh;
  height: 100%;
}
/*#motiver{
  display: none;
}*/
svg {
  display: none;
}
